<app-header></app-header>
<div class="container">
  <div class="text-center">
    <form class="form-signin"> 
      <div class="py-5 text-center">
        <h2>Resultado del Cargue  </h2>
       <p class="lead">Formulario de descarga del cargue ...</p>
     </div> 
      <div class="col-md-8 offset-md-2 col-xs-12">
        <div class="mb-3 row">
          <label for="selTipoDoc" style="float: left" class="col-sm-2 col-form-label">Tipo <i class="fa fa-file-archive-o" aria-hidden="true"></i></label>
          <div class="col-sm-10">
            <select class="form-select" id="selTipoDoc"   required>
              <option value="0" disabled>Seleccione...</option>
              <option value="CM">Compra</option>
              <option value="VN">Venta</option>
              <option value="RC">Recocobro</option>
            </select>
          </div>
        </div> 

        <div class="col-md-4 offset-md-4">
          <button
            class="btn btn-outline-success btn-sd"
            style="width: 100%"
            type="submit"
          >
            Descargar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
