

<app-header></app-header> 

<div class="container" style="margin-bottom: 50PX;" > 
    <div class="row"> 
          <div class="col-lg-4 col-sm-12" style="margin-top: 20px;" >
            <div class="card" style="width: 18rem; height: 400px;">
                <div class="card-body">
                  <h5 class="card-title">Antonio Fernandez Paternina</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Gerente de Proyecto</h6> 
                  <p>
                    Ingeniero informático, gerente de proyectos con alta formación y experiencia técnica, dirigiendo equipos agiles y de alto rendimiento orientados al cumplimiento de objetivos y satisfacción del cliente.
                  </p>
                  <ul>
                      <li>info@antoniofernandez.pro</li>
                      <li>Cel: +57 301 742 1374</li>
                  </ul>
                  <a href="https://antoniofernandez.pro" target="_blank" class="btn btn-outline-primary">Pagina Web </a>
                  <a href="https://www.linkedin.com/in/antonio-fernandez-paternina/" target="_blank" class="btn btn-outline-primary" style="margin-left: 5px;">Linkedin</a>
                </div>
              </div>      
            </div> 
            <div class="col-lg-4" style="margin-top: 20px;" >
                <div class="card" style="width: 18rem; height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title"> Juan Peña Peña</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Desarrollador BackEnd</h6> 
                        <p> 
                        </p>
                        <ul> 
                            <li>Ing.juanca@gmail.com</li>
                            <li>Cel: +57 301 554 7926</li>
                        </ul> 
                        <a href="https://www.linkedin.com/in/juan-carlos-peña-peña-b3437b41/" target="_blank" class="btn btn-outline-primary btn-sd">Linkedin</a>
                    </div>
                </div>      
            </div>  
        <div class="col-lg-4" style="margin-top: 20px;" >
            <div class="card" style="width: 18rem; height: 400px;">
                <div class="card-body">
                <h5 class="card-title"> Daniel Gómez Rivero</h5>
                <h6 class="card-subtitle mb-2 text-muted">Desarrollador FrontEnd</h6> 
                <p>Ingeniro de Sistemas con Especialización en Ingeniería de Software y Diplomado en Seg. Informática. Desarrollador fullstakc bajo los parametros de SCRUM.</p>
                <ul> 
                    <li>Ddgomez@uninorte.edu.co</li>
                    <li>Cel: +57 300 407 7709</li>
                </ul> 
                <a href="https://www.linkedin.com/in/danielgomezrivero" target="_blank" class="btn btn-outline-primary">Linkedin</a>
                </div>
            </div>      
        </div>  
    </div>



    
</div>

